.header-div{
    position: absolute;
    width: 100%;
    top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}

.page-title{
    flex-grow: 1;
    padding-left: 80px;
    font-weight: bolder;
    font-size: 34px;
    color: #436475;
    text-decoration: none;
}

.header-buttons{
    text-align: right;
    flex-grow: 1;
}

.header-link{
    color: #436475;
    text-decoration: none;
    font-size: 18px;
    margin-right: 40px;
    font-weight: bolder;
    transition: all .2s linear;
}

.header-link:hover{
    color: #FF961F;
}