<h1 mat-dialog-title>Aplikacja MoodTracker</h1>
<div mat-dialog-content>
    <p>
        MoodTracker to aplikacja przeznaczona do celpów terapeutycznych. Kalendarz umożliwia użytkownikowi śledzenie swojego nastroju w ciągu miesiąca. 
        Jest to ważne w przypadku terapi behawioralnej oraz farmaceutycznej, podczas których konieczne jest monitorowanie stanu psychicznego. 
    </p>
    <p>
        Poprzez zaznaczenie kolejnych dni w kalendarzu, aplikacja zbiera dane o użytkowniku, które może wyświetlić w formie grafu. Graf taki dobrze obrazuje ogólny stan użytkownika na przestrzeni miesiąca. 
        Ponadto aplikacja umożliwia także zapisywanie swoich przemyśleń co do danego dnia, oraz posiada dwa formularze, których wypełnienie ma na celu 
        poprawienie samopoczucia.
    </p>
</div>
<mat-dialog-actions style="justify-content: flex-end; align-items: flex-end;">
    <button style="margin: 0; margin-bottom: 10px;" class="btn"(click)="close()">OK</button>
</mat-dialog-actions>