<div class="master-container">
  <div class="header">
    <app-header (featureSelected)="onNavigate($event)"></app-header>
  </div>
  <div class="main">
    <!--<app-main></app-main>-->
    <app-mood-board *ngIf="loadedFeature == 'calendar'" (changeToJournalEvent)="changeToJournal()"></app-mood-board>
    <app-journal *ngIf="loadedFeature == 'journal'"></app-journal>
    <app-home-page *ngIf="loadedFeature == 'home'"></app-home-page>
    <app-chart *ngIf="loadedFeature == 'stats'"></app-chart>
  </div>
  <div class="footer"></div>
</div>
