
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    background-color: rgb(189, 189, 189);
    font-family: 'Ubuntu', sans-serif;
}